{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
    <div class="container text-center py-5">
        <h3 >MullTrapSolver</h3>
        <h4 class="text-muted">Calculadora online con Método de Muller y Método de Trapecios para cálculos numéricos y gráficos efectivos.</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
            <div class="col">
              <div class="card">
                <img src="../static/img/img1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Metodo de Muller</h5>
                  <p class="card-text">¡Te invitamos a probar MullTrapSolver! Explora el Método de Muller con resolución paso a paso, visualización gráfica interactiva y un historial de cálculos. ¡Descubre cómo puede mejorar tus habilidades matemáticas!</p>
                </div>
                <div class="d-flex justify-content-evenly p-4">
                    <button type="button" class="btn btn-outline-success w-100 py-2"><a href="{% url 'muller' %}" style="text-decoration: none; color: inherit;">¡Empieza a explorar!</a></button>
                </div>
              </div>
            </div>
            {% if not user.is_authenticated %}
            <div class="col">
              <div class="card">
                <img src="../static/img/img2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Crear Cuenta</h5>
                  <p class="card-text">¡Bienvenidos a MullTrapSolver! Crea una cuenta para disfrutar de la resolución paso a paso, visualización gráfica y un historial de cálculos. ¡Regístrate ahora y mejora tus habilidades matemáticas!.</p>
                </div>
                <div class="d-flex justify-content-evenly p-4">
                    <button type="button" class="btn btn-outline-primary w-100 py-2"><a href="{% url 'signup' %}" style="text-decoration: none; color: inherit;">¡Empieza a disfrutar de todos los beneficios!</a></button>
                    
                </div>
              </div>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="col">
              <div class="card">
                <img src="../static/img/img4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ver Historial</h5>
                  <p class="card-text">Accede a tu historial completo de cálculos detallados utilizando los métodos de Muller y Trapecios. Revisa paso a paso cada resolución y mejora tu comprensión de estos métodos haciendo clic aquí.</p>
                </div>
                <div class="d-flex justify-content-evenly p-4">
                    <button type="button" class="btn btn-outline-primary w-100 py-2"><a href="{% url 'historial' %}" style="text-decoration: none; color: inherit;">¡Ver historial!</a></button>
                    
                </div>
              </div>
            </div>
            {% endif %}
            <div class="col">
              <div class="card">
                <img src="../static/img/img3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Metodo de Trapecio</h5>
                  <p class="card-text">¡Te invitamos a probar MullTrapSolver! Explora el Método de Trapecio con resolución paso a paso, visualización gráfica interactiva y un historial de cálculos. ¡Descubre cómo puede mejorar tus habilidades matemáticas!</p>
                </div>
                <div class="d-flex justify-content-evenly p-4">
                    <button type="button" class="btn btn-outline-success w-100 py-2"><a href="{% url 'trapecio' %}" style="text-decoration: none; color: inherit;">¡Empieza a explorar!</a></button>
                </div>
              </div>
            </div>
         
          </div>
    </div>
</div>
{% endblock %}
